/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */

:root {
  --ifm-color-primary: #25c2a0;
  --ifm-color-primary-dark: rgb(33, 175, 144);
  --ifm-color-primary-darker: rgb(31, 165, 136);
  --ifm-color-primary-darkest: rgb(26, 136, 112);
  --ifm-color-primary-light: rgb(70, 203, 174);
  --ifm-color-primary-lighter: rgb(102, 212, 189);
  --ifm-color-primary-lightest: rgb(146, 224, 208);
  --ifm-code-font-size: 95%;
}
.docusaurus-highlight-code-line {
  background-color: rgb(72, 77, 91);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

/* algorithms */
.algorithm-section {
  display: flex;
  justify-content: center;
}

.algorithm-image {
  display: flex;
  width: 600px;
  margin: 0 auto;
}

/* about */

.about-header {
  text-decoration: underline;
}

.parent {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  /*grid-template-rows: repeat(5, 1fr);*/
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  margin-bottom: 5%;
}
.parent-mobile {
  display: grid -moz-inline-grid;
  grid-template-rows: auto auto;
  align-items: center;
  grid-row-gap: 0px;
  margin-bottom: 5%;
}

.div1 {
  grid-area: 1 / 2 / 2 / 5;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  margin-top: 9%;
}
.div2 {
  grid-area: 2 / 2 / 4 / 3;
  /* padding-bottom: 20px; */
}
.div3 {
  grid-area: 2 / 4 / 4 / 5;
  /* padding-bottom: 20px; */
  /* background-color: lawngreen; */
}

.tech {
  padding-top: 2%;

  height: 30%;
  color: white;
  background-color: inherit;
}

.about-container {
  display: flex;
  justify-content: center;
  /* height: 100vh; */
  font-size: 30px;
  margin-top: 2%;
}
.about-container h1 {
  color: black;
  background-color: white;
}
a {
  color: #7d47f4;
}
/* .about-img {
  width: 500px;
  display: flex;
  justify-content: center;
} */

.daniel-img {
  border-radius: 100%;
}
.mo-img {
  border-radius: 100%;
}
.headers-mobile {
  text-align: center;
  align-content: center;
  justify-content: center;
  margin-top: 10px;
  color: white;
}
.dev-name {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  color: black;
  background-color: white;
  border-radius: 10%;
}
.dev-name-mobile {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  color: white;
}
.links a {
  /* background-color: black; */
  padding: 10px;
  cursor: hand;
}

html[data-theme="dark"] .navbar__logo {
  filter: invert(100%);
}

/* FOOTER */
footer .container {
  margin-left: 30%;
}

footer .text--center {
  margin-right: 40%;
}

/* media Queries */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* updated styles for mobile devices */
  .hero__title {
    font-size: 2rem;
  }
  footer .text--center {
    margin-right: 60%;
  }
  .blogPostTitle_node_modules-\@docusaurus-theme-classic-lib-theme-BlogPostItem- {
    font-size: 2rem !important;
  }
}
